.head{
  text-align:  center;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #000;
}
button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 135px;
  font-size: 18px;
  color: white;
  background-color: #000;
  margin-top: 20px; 
  margin-left: 622px;
  border-radius: 20px;
  font-weight: 600;
}